[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
evm_version = "osaka"
optimizer = true
optimizer_runs = 200
via_ir = false
solc = "/home/testuser/Tezos/EVM/Osaka/bin/solc" # Path to solc binary to have sol 0.8.31-pre.1 which supports osaka features
remappings = []

[profile.test]
fuzz = { runs = 256 }
invariant = { runs = 256 }

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true
int_types = "long"
multiline_func_header = "all"
quote_style = "double"
number_underscore = "thousands"




